@using System.Collections.Generic;
@using BOL;

@{
    ViewData["Title"] = "Product Page";
}

<div class="text-center">
    <h1 class="display-4">Product Page</h1>
    <p class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="AllProducts">AllProducts</a>
    </p>
    <p class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="ProductById">ProductById</a>
    </p>
</div>