<html>
    <head>
        Find Product By their ID
    </head>
    <body>
        <form method="POST">
            <input type="text" placeholder="Enter ID" name="productId">
            <button type="submit" name="search">Search</button>
            <button type="reset" name="reset">Reset</button>
        </form>
    </body>
</html>