@{
    ViewData["Title"] = "Insert Page";
}

<div class="text-center">
    <form method="post">
        <label>Id <input type="number" name="Id" class="form-control" /></label>
        <label>Name <input type="text" name="Name" class="form-control" /></label>
        <label>Salary <input type="number" name="Salary" class="form-control" /></label>
        <label>Gender <input type="text" name="Gender" class="form-control" /></label>
        <input type="submit" name="Id" class="btn" />
    </form>
</div>
