@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>
<h4>Site Made By: Ayush G.</h4>
<h4>Year: December 2023</h4>
<h4>Designation: P.G.Student</h4>
<h4>Location: Pune</h4>
<h4>Headquarters: IET,Pune,Maharastra</h4>